.place {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #988e00;
  font-weight: bold;
  font-size: 15px;

  &.place-first {
    background-color: red;
    color: white;
  }

  &.place-second {
    background-color: blue;
    color: white;
  }

  &.place-third {
    background-color: yellow;
  }

  &.place-clear {
    background-color: #a7ff48;
    color: #4f9800;
  }

  span {
    display: block;
  }

}

.dogRunning {
  display: inline-block;
}